<h2><%= l(:label_home) %></h2>

<div class="splitcontentleft">
  <div class="wiki">
    <%= textilizable Setting.welcome_text %>
  </div>
  <%= call_hook(:view_welcome_index_left) %>
</div>

<div class="splitcontentright">
  <% if @news.any? %>
  <div class="news box">
  <h3><%=l(:label_news_latest)%></h3>
    <%= render :partial => 'news/news', :collection => @news %>
    <%= link_to l(:label_news_view_all), :controller => 'news' %>
  </div>
  <% end %>
  <%= call_hook(:view_welcome_index_right) %>
</div>

<% if @token %>
  <iframe
    target="_top"
    src="<%=ENV['FRONTEND_BASE_URL']%>redmine-issue-map?token=<%=@token%>"
    onload="this.width=(window.innerWidth-20)+'px';this.height=(window.innerHeight-200)+'px'; var self=this; document.body.onresize=function(){self.width=(window.innerWidth-20)+'px';self.height=(window.innerHeight-200)+'px';}">
  </iframe>
<% end %>

<% content_for :header_tags do %>
<%= auto_discovery_link_tag(:atom, {:controller => 'news', :action => 'index', :key => User.current.rss_key, :format => 'atom'},
                                  :title => "#{Setting.app_title}: #{l(:label_news_latest)}") %>
<%= auto_discovery_link_tag(:atom, {:controller => 'activities', :action => 'index', :key => User.current.rss_key, :format => 'atom'},
                                  :title => "#{Setting.app_title}: #{l(:label_activity)}") %>
<% end %>
